@model IEnumerable<SportsApp.Models.BookingDetail>
@{
}
<div class="col-md-12 text-center">
    <h1> Order Placed</h1>

   <a asp-area="admin" asp-action="index" asp-controller="Products" class="btn btn-dark"> Shop More</a>
    

</div>
